In [35]:

import pandas as pd
import os
import csv

file_path= "us_counties.csv" #File Path

corona_data = pd.read_csv(file_path) #Read file

In [36]:
corona_data.head(5)

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [37]:
Total_Deaths = corona_data["deaths"].sum()
print(Total_Deaths)

5256694

####

In [38]:
TopDeath = corona_data
TopDeath ["Total Deaths"] =TopDeath["deaths"]
TopDeath ["Total Cases"] =TopDeath["cases"]

TopDeath ["Count"] = 0
TopDeath =TopDeath.groupby(["fips"]).agg({"Total Cases":"sum","Total Deaths":"sum","Count":"size"})

# Sort
TopDeath =TopDeath.sort_values(by=["Total Deaths"], ascending=True)

TopDeath.head(5)

         Total Cases  Total Deaths  Count
fips
29119.0          952             0     82
30087.0           13             0     13
30085.0          455             0     88
30083.0          201             0     68
30081.0          581             0     86

In [39]:
TopDeath.to_csv('us_counties_final_data.csv')