In [35]:

import pandas as pd
import os
import csv

file_path= "us_counties.csv" #File Path

corona_data = pd.read_csv(file_path) #Read file

In [36]:
corona_data.head(5)

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [37]:
Total_Deaths = corona_data["deaths"].sum()
print(Total_Deaths)

5256694

####

In [38]:
TopDeath = corona_data
TopDeath ["Total Deaths"] =TopDeath["deaths"]
TopDeath ["Total Cases"] =TopDeath["cases"]

TopDeath ["Count"] = 0
TopDeath =TopDeath.groupby(["fips"]).agg({"Total Cases":"sum","Total Deaths":"sum","Count":"size"})

# Sort
TopDeath =TopDeath.sort_values(by=["Total Deaths"], ascending=True)

TopDeath.head(5)

         Total Cases  Total Deaths  Count
fips
29119.0          952             0     82
30087.0           13             0     13
30085.0          455             0     88
30083.0          201             0     68
30081.0          581             0     86

In [41]:
TopDeath.to_csv('us_counties_final_data.csv')

PermissionError: [Errno 13] Permission denied: 'us_counties_final_data.csv'

In [63]:
check=corona_data
check = check.drop(columns="date")
check = check.drop(columns="cases")
check = check.drop(columns="deaths")
check = check.drop(columns="Total Deaths")
check = check.drop(columns="Total Cases")
check = check.drop(columns="Count")

In [64]:
check1=check.drop_duplicates(keep="last")

check1.head()

        county         state  fips
13508  Unknown          Ohio   NaN
24502  Unknown       Indiana   NaN
24992  Unknown   Mississippi   NaN
34959  Unknown  Pennsylvania   NaN
42596  Unknown  South Dakota   NaN

In [65]:
check1.count()

county    3050
state     3050
fips      3002
dtype: int64

In [72]:
df = TopDeath

In [70]:
def to_dbdiagram(st, df):
    st = st + "\n-\n"
    for col,typ in zip(df.columns,df.dtypes):
        if str(typ) == 'object':
            typ = "string"
        st = st + col.replace(" ","") + " " + str(typ) + "\n"
    return st

In [73]:
def to_postgres(st, df, path="C://"):
    
    res = "drop table if exists " + st + ";\ncreate table " + st + " ("
    for col,typ in zip(df.columns,df.dtypes): 
        if str(typ) == 'object':
            typ = "varchar"
        elif str(typ) == "int64":
            typ = "int"
        elif str(typ) == "float64":
            typ = "float8"
            
        #.replace(" ","").replace("/","").replace("(","").replace(")","").replace("%","")
        res = res + "\"" + col + "\" " + str(typ) + ", "
    return res[:-2] + ");\ncopy " + st + " from \'" + path + "\' csv header;\nselect * from " + st + ";"
print(to_postgres("", df))

drop table if exists ;
create table  ("Total Cases" int, "Total Deaths" int, "Count" int);
copy  from 'C://' csv header;
select * from ;

In [74]:
print(to_postgres("df", df, "us_counties_final_data.csv"))

drop table if exists df;
create table df ("Total Cases" int, "Total Deaths" int, "Count" int);
copy df from 'us_counties_final_data.csv' csv header;
select * from df;